In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
from IPython.display import display

import warnings
warnings.filterwarnings('ignore')

import plotly
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# from plotly.plotly import iplot
import plotly.graph_objs as go
# plotly.tools.set_credentials_file(username='d116626', api_key='rCLXowBHHQLJHHzTxSNM')
init_notebook_mode(connected=True)

import sqlalchemy
import pandas.io.sql as pdsql
engine = sqlalchemy.create_engine('postgresql://uploaddata:VgyBhu876%%%@104.155.150.247:5432/projetocurio')

# import seaborn as sns
# sns.set_context("poster")
import random

import talib as ta

%timeit

In [2]:
df_prop= pd.read_csv('../db/votacao_proposicao.csv')

In [11]:
df_ = df_prop.copy()

In [12]:
df_ = df_.drop(columns = ['data_captura','data_captura','resumo_votacao','ide_cadastro'])

In [14]:
def hora(t):
    t['data_votacao'] = pd.to_datetime(t['data_votacao'].map(str) +' '+ t['hora_votacao'].map(str))
    t.sort_values(by=['data_votacao'], inplace=True, ascending=True)
    return(t)

In [123]:
df = df_[:10000]

In [125]:
df = hora(df)

In [127]:
df['voto'] = df['voto'].str.strip()

In [128]:
df['voto'] = df['voto'].replace(['Sim','NÃ£o'],[1,0])

total_sim_nao = len(list(df['voto']))
total_sim_nao

10000

In [133]:
df_1 = df[df.voto==1]
df_1.describe()

       id_proposicao  numero_proposicao  ano_proposicao    cod_sessao
count   6.183000e+03        6183.000000     6183.000000   6183.000000
mean    1.153833e+05        1294.267831     1996.003396   1674.110141
std     8.879568e+04         553.632319        0.267067    850.190592
min     1.686900e+04          17.000000     1996.000000    412.000000
25%     2.499300e+04         407.000000     1996.000000    508.000000
50%     1.917690e+05        1530.000000     1996.000000   2214.000000
75%     1.948380e+05        1724.000000     1996.000000   2261.000000
max     2.148390e+06        1838.000000     2017.000000  16316.000000

In [134]:
df_0 = df[df.voto==1]
df_0.describe()

       id_proposicao  numero_proposicao  ano_proposicao    cod_sessao
count   6.183000e+03        6183.000000     6183.000000   6183.000000
mean    1.153833e+05        1294.267831     1996.003396   1674.110141
std     8.879568e+04         553.632319        0.267067    850.190592
min     1.686900e+04          17.000000     1996.000000    412.000000
25%     2.499300e+04         407.000000     1996.000000    508.000000
50%     1.917690e+05        1530.000000     1996.000000   2214.000000
75%     1.948380e+05        1724.000000     1996.000000   2261.000000
max     2.148390e+06        1838.000000     2017.000000  16316.000000

In [113]:
df_1 = df_1.groupby(by = 'sigla_partido').mean()

In [114]:
df_1.head()

               id_proposicao  numero_proposicao  ano_proposicao   cod_sessao
sigla_partido
PCDOB          119464.666667        1643.666667          1996.0  2249.000000
PCdoB           74358.288136        1168.016949          1996.0  1269.898305
PDT            102532.722892        1248.765060          1996.0  1579.921687
PFL            124049.011799        1345.062684          1996.0  1754.930678
PHS             24993.000000         407.000000          1996.0   451.200000